:root {
  --main-color: #2196F3;
  --secondary-color: #fff;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-color: #000;
  --adress-color: rgba(255, 255, 255, 0.6);
  --main-bg-color: #2F303A;
  --secondary-bg-color: #F5F4FA;
  --border-color: #EEEEEE;
  --shadow-color: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  --head-border-color: #ececec;
  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --team-btn-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  --projects-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  --clients-border: 1px solid #AFB1B8;
  --clients-icon-color: #AFB1B8;
  --social-media-bg-color: rgba(255, 255, 255, 0.1);
  --projects-card-shadow-color: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --border-modal-btn: 1px solid rgba(0, 0, 0, 0.1);
  --modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  --work-box-color: rgba(47, 48, 58, 0.8);
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --subscription-input-border: 1px solid rgba(255, 255, 255, 0.3);
  --subscription-input-filter: filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  --input-footer-text-color: rgba(255, 255, 255, 0.6);
  --input-modal-form: 1px solid rgba(33, 33, 33, 0.2);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0 94px 0;
  }
}

.header {
  border-bottom: 1px solid var(--head-border-color);
}
@media screen and (min-width: 767px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 60px;
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
  }
}

.header__logo {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  padding: 16px 0 16px 0;
  color: var(--logo-color);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 26px 0 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    line-height: 1.4;
  }
}

.logo__main {
  color: var(--main-color);
}

.header__list {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
    list-style: none;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.header__link:hover, .header__link:focus {
  color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .header__link {
    padding: 5px 0 5px 0;
    margin: 15px 0 15px 0;
  }
  .header__link:first-child {
    margin-bottom: 0;
  }
  .header__link:last-child {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__link {
    padding: 24px 0 25px 0;
  }
}

.header__link--studio {
  position: relative;
  padding: 24px 0 36px 0;
  font-weight: 500;
  text-decoration: none;
  color: var(--main-color);
}
.header__link--studio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  border-radius: 2px;
}

.header__link--portfolio {
  position: relative;
  font-weight: 500;
  text-decoration: none;
  color: var(--main-color);
  padding: 24px 0 36px 0;
}
.header__link--portfolio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  border-radius: 2px;
}

.header__list--adress {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list--adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .header__list--adress {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 344px;
    margin-left: auto;
    margin-bottom: 0;
    list-style: none;
  }
}

.header__item--connection {
  color: var(--clients-icon-color);
}
@media screen and (min-width: 1200px) {
  .header__item--connection:not(:last-child) {
    margin-right: 50px;
  }
}

.header__link--adress {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.header__link--adress:hover, .header__link--adress:focus {
  color: var(--main-color);
}

.icon-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-right: 10px;
}

.icon-phone {
  margin-right: 10px;
}

.burger-menu,
.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  border: none;
  background-color: transparent;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .burger-menu,
.menu-toggle {
    display: none;
  }
}

.menu-toggle {
  padding: 21px 25px 0 0;
}
.menu-toggle:hover,
.menu-toggle :focus {
  color: var(--main-color);
}

.menu-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  padding-left: 40px;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  list-style: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu {
  margin-bottom: 304px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
}

.mobile-menu li {
  margin-bottom: 32px;
}

.mobile-menu__link.studio {
  color: var(--main-color);
}

.mobile-menu__link.portfolio {
  color: var(--main-color);
}

.mobile-contacts li {
  margin-bottom: 32px;
}

.mobile-contacts__link.number {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.mobile-socials li:not(:first-child) {
  margin-left: 10px;
}

.mobile-socials li::after {
  content: "";
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}

.banner {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--main-bg-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/banner_sm.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner_sm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/banner_sm@x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner_sm@x2.jpg");
  }
}
@media screen and (min-width: 481px) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/banner_md.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner_md.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/banner_md@x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner_md@x2.jpg");
  }
}
@media screen and (min-width: 769px) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/banner_lg.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner_lg.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/banner_lg@x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner_lg@x2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.banner__title {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 30px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
@media screen and (min-width: 1200px) {
  .banner__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.banner__btn {
  display: block;
  margin: 0 auto;
  height: 50px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: var(--btn-shadow);
          box-shadow: var(--btn-shadow);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .banner__btn {
    min-width: 216px;
  }
}

.features__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  padding-top: 30px;
  font-weight: 700;
  font-size: 14px;
  color: var(--main-text-color);
}
@media screen and (max-width: 768px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-weight: normal;
  line-height: 1.7;
  color: var(--secondary-text-color);
  padding-bottom: 30px;
}
.features__text:last-child {
  padding-bottom: 0;
}

.features__icon {
  margin-left: auto;
  margin-right: auto;
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 0;
  }
}

.work__title {
  text-align: center;
  margin-bottom: 50px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.work__item {
  position: relative;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
  background-color: var(--work-box-color);
}

.team {
  background-color: var(--secondary-bg-color);
}

.team__title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__item {
  background-color: var(--secondary-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: var(--team-btn-shadow);
          box-shadow: var(--team-btn-shadow);
  margin-bottom: 30px;
}
.team__item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .team__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team__item:nth-child(n+3) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    margin-bottom: 0px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__body {
  padding: 30px 0 30px 0;
}

.team__name {
  margin: 0 0 10px 0;
  text-align: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
}

.team__proffesion {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: var(--secondary-text-color);
}

.team__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  list-style: none;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--clients-icon-color);
  border-radius: 50%;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.team__link:hover, .team__link:focus {
  color: var(--secondary-color);
  background-color: var(--main-color);
}

.team__icon:hover, .team__icon:focus {
  color: var(--secondary-color);
}

.clients__title {
  text-align: center;
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 28px;
  color: var(--main-text-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin: 0 0 50px 0;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: -15px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__item {
  margin: 15px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  color: var(--clients-icon-color);
  border-radius: 4px;
  border: 1px solid var(--clients-icon-color);
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.clients__link:hover, .clients__link:focus {
  color: var(--main-color);
  border-color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.projects__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 8px;
  margin-bottom: 40px;
  list-style: none;
}
@media screen and (min-width: 678px) {
  .projects__btns {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .projects__btns {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.projects__btn {
  padding: 6px 25px 6px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-text-color);
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.projects__btn:hover, .projects__btn:focus {
  color: var(--secondary-color);
  background-color: var(--main-color);
  -webkit-box-shadow: var(--projects-btn-shadow);
          box-shadow: var(--projects-btn-shadow);
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.projects__item {
  padding: 0;
  margin: 0 30px 30px 0;
}
.projects__item:nth-child(3n) {
  margin-right: 0;
}
.projects__item:nth-child(n+6) {
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  .projects__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .projects__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: 370px;
  }
}

.projects__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
  text-decoration: none;
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: var(--projects-card-shadow-color);
          box-shadow: var(--projects-card-shadow-color);
}
.projects__link:hover .projects__overlay, .projects__link:focus .projects__overlay {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

.projects__body {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  -webkit-transform: translatey(101%);
          transform: translatey(101%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

.projects__description {
  color: #fff;
  padding: 63px 24px 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.projects__text {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.projects__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.projects__type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}

.footer {
  padding: 60px 0 60px 0;
  background-color: var(--main-bg-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-column-gap: 165px;
     -moz-column-gap: 165px;
          column-gap: 165px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    gap: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer__info {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__info {
    text-align: left;
    margin-right: 70px;
  }
}

.footer__logo {
  display: block;
  margin: 0 0 20px 0;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: var(--secondary-color);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.4;
  }
}

.footer__list {
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    margin-bottom: 0px;
  }
}

.footer__item {
  margin-bottom: 8px;
}
.footer__item:last-child {
  margin-bottom: 0px;
}

.footer__map {
  font-style: normal;
  line-height: 1.8;
  color: var(--secondary-color);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.footer__map:hover, .footer__map:focus {
  color: var(--main-color);
}

.footer__adress {
  font-style: normal;
  line-height: 1.8;
  color: var(--adress-color);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.footer__adress:hover, .footer__adress:focus {
  color: var(--main-color);
}

@media screen and (min-width: 678px) {
  .footer__socials {
    display: inline-block;
  }
}

.footer__text {
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.1;
  color: var(--secondary-color);
}
@media screen and (min-width: 1200px) {
  .footer__text {
    text-align: left;
  }
}

.footer__media {
  text-align: center;
  list-style: none;
}

.footer__items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 44px;
  width: 44px;
  background-color: var(--social-media-bg-color);
  border-radius: 50%;
}
.footer__items:not(:last-child) {
  margin-right: 10px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--main-color);
}

.footer__icon {
  fill: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .footer__subscription {
    margin-left: 93px;
  }
}

.footer__form {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
  }
}

.footer__input {
  max-width: 450px;
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: var(--input-footer-text-color);
  background-color: var(--main-bg-color);
  border-radius: 4px;
  border: var(--subscription-input-border);
  -webkit-filter: var(--subscription-input-filter);
          filter: var(--subscription-input-filter);
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-bottom: 0px;
  }
}

.footer__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: var(--btn-shadow);
          box-shadow: var(--btn-shadow);
  cursor: pointer;
}

.icon-send {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);
  -webkit-transition: opacity var(--transition-duration), visibility var(--transition-timing-function);
  transition: opacity var(--transition-duration), visibility var(--transition-timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: inherit;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95%;
  padding: 40px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  -webkit-box-shadow: var(--modal-box-shadow);
          box-shadow: var(--modal-box-shadow);
}
@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    width: 100%;
    min-height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__form {
  max-width: 370px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .modal__form {
    max-width: 448px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--logo-color);
  border: var(--border-modal-btn);
  background-color: var(--secondary-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.modal__close:hover, .modal__close:focus {
  color: var(--main-color);
}

.modal__title {
  font-style: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 20px;
}

.modal__input {
  width: 100%;
  padding: 12px 15px 12px 42px;
  margin-top: 4px;
  border: var(--input-modal-form);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid var(--main-color);
}
.modal__input:hover + .modal__icons, .modal__input:focus + .modal__icons {
  color: var(--main-color);
}

.modal__comment {
  padding: 12px 15px 12px 15px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  border: var(--input-modal-form);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.modal__comment:hover, .modal__comment:focus {
  border: 1px solid var(--main-color);
}

.modal__icons {
  position: absolute;
  top: 50%;
  left: 15px;
  color: var(--main-text-color);
  pointer-events: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.modal__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 7px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .modal__agreement {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modal__check {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.modal__checkbox:checked + .modal__icon .modal__check {
  opacity: 1;
}

.modal__checkbox:checked + .modal__icon .modal__uncheck {
  opacity: 0;
}

.modal__desc {
  color: var(--secondary-text-color);
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__desc {
    font-style: 14px;
  }
}

.modal__contract {
  color: var(--main-color);
}

.modal__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--main-color);
  border-radius: 4px;
  -webkit-box-shadow: var(--btn-shadow);
          box-shadow: var(--btn-shadow);
  cursor: pointer;
  border: none;
}/*# sourceMappingURL=main.css.map */