.banner {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    background-color: var(--main-bg-color);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/banner_sm.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/banner_sm@x2.jpg');
    }

    @media screen and (min-width: 481px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/banner_md.jpg');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/banner_md@x2.jpg');
        }
    }

    @media screen and (min-width: 769px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/banner_lg.jpg');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url('../images/banner_lg@x2.jpg');
            }
        }
    }

    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}


.banner__title {
    max-width: 360px;
    margin: 0 auto;

    text-align: center;
    text-transform: uppercase;

    font-size: 26px;
    margin-bottom: 30px;
    line-height: 1.62;
    letter-spacing: 0.06em;

    color: var(--secondary-color);

    @media screen and (min-width:1200px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}


.banner__btn {
    display: block;
    margin: 0 auto;

    height: 50px;
    min-width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--secondary-color);

    background-color: var(--main-color);
    border: none;
    border-radius: 4px;
    box-shadow: var(--btn-shadow);
    cursor: pointer;

    @media screen and (min-width:1200px) {
        min-width: 216px;
    }
}