* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (min-width:768px) {
        max-width: 768px;
    }

    @media screen and (min-width:1200px) {
        max-width: 1200px;
    }
}

.section {
    padding: 60px 0 60px 0;

    @media screen and (min-width:1200px) {
        padding: 94px 0 94px 0;
    }
}