.footer {
    padding: 60px 0 60px 0;

    background-color: var(--main-bg-color);
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    column-gap: 165px;
    //align-items: baseline;
    // flex-wrap: wrap;
    // justify-content: center;

    @media screen and (min-width:768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }


    @media screen and (min-width:1200px) {
        gap: 0;
        flex-wrap: nowrap;
    }
}

.footer__info {
    text-align: center;


    @media screen and (min-width:1200px) {
        text-align: left;
        margin-right: 70px;
    }
}

.footer__logo {
    display: block;
    margin: 0 0 20px 0;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: var(--secondary-color);
    text-decoration: none;

    @media screen and (min-width:1200px) {
        font-size: 26px;
        line-height: 1.4;
    }



}

.footer__list {
    list-style: none;
    //margin-bottom: 60px;

    @media screen and (min-width:1200px) {
        margin-bottom: 0px;
    }
}

.footer__item {
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0px;
    }

    // margin-bottom: 9px;

    //  &:last-child {
    // margin-bottom: 0px;
}

.footer__map {
    font-style: normal;
    line-height: 1.8;
    color: var(--secondary-color);

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--main-color);
    }
}

.footer__adress {
    font-style: normal;
    line-height: 1.8;
    color: var(--adress-color);

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--main-color);
    }
}

.footer__socials {
    //margin-bottom: 60px;

    @media screen and (min-width:678px) {
        display: inline-block;
    }

}

.footer__text {
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.1;
    color: var(--secondary-color);

    @media screen and (min-width:1200px) {
        text-align: left;
    }
}

.footer__media {
    text-align: center;
    list-style: none;
}

.footer__items {
    display: inline-flex;

    height: 44px;
    width: 44px;

    background-color: var(--social-media-bg-color);
    border-radius: 50%;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.footer__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);

    &:hover,
    &:focus {
        background-color: var(--main-color);
    }
}

.footer__icon {
    fill: var(--secondary-color);
}

.footer__subscription {

    @media screen and (min-width:1200px) {
        margin-left: 93px;
    }
}


.footer__form {
    text-align: center;

    @media screen and (min-width:1200px) {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}

.footer__input {
    max-width: 450px;
    width: 100%;
    padding: 15px 16px;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.25px;
    letter-spacing: 0.03em;
    color: var(--input-footer-text-color);

    background-color: var(--main-bg-color);
    border-radius: 4px;
    border: var(--subscription-input-border);
    filter: var(--subscription-input-filter);

    @media screen and (min-width:1200px) {
        width: 358px;
        margin-bottom: 0px;
    }
}

.footer__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    padding-top: 11px;
    padding-bottom: 11px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--secondary-color);

    background-color: var(--main-color);
    border: none;
    border-radius: 4px;
    box-shadow: var(--btn-shadow);
    cursor: pointer;
}

.icon-send {
    margin-left: 10px;
}