.work {
    display: none;


    @media screen and (min-width:1200px) {
        display: block;
        padding-top: 0;
    }
}

.work__title {
    text-align: center;
    margin-bottom: 50px;

    color: var(--main-text-color);
    font-weight: 700;
    font-size: 36px;
}

.work__list {
    display: flex;

    list-style: none;
}


.work__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work__text {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-color);

    background-color: var(--work-box-color);
}